<h1>Listing unitprices</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Amount</th>
    <th>Unit</th>
    <th>Product</th>
    <th>Shop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unitprices.each do |unitprice| %>
  <tr>
    <td><%= unitprice.price %></td>
    <td><%= unitprice.amount %></td>
    <td><%= unitprice.unit %></td>
    <td><%= unitprice.product_id %></td>
    <td><%= unitprice.shop_id %></td>
    <td><%= link_to 'Show', unitprice %></td>
    <td><%= link_to 'Edit', edit_unitprice_path(unitprice) %></td>
    <td><%= link_to 'Destroy', unitprice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unitprice', new_unitprice_path %>
